# Ignorar IntelliJ IDEA
.idea/
*.iml

# Build output
/target/

# Compiled class file
*.class

# Logs
*.log
*.tmp
*.bak

# Sensitive configuration files
config.properties
src/main/resources/config.properties

# Virtual machine crash logs
hs_err_pid*
replay_pid*

# NetBeans
/nbproject/private/
/nbbuild/
/dist/

# Virtual environments
.venv/
.env/

# Package files
*.jar
*.war
*.zip
*.tar.gz
*.rar
